* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: #fff;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 30px;
  color: #fff;
}

#nav a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

#heading {
  margin-top: 35px;
}

#heading h1 {
  font-size: 9.5vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0.95;
  opacity: 0.6;
  margin-left: 30px;
  letter-spacing: 4px;
}

#heading #secondh1 {
  margin-left: 155px;
}

#designerContainer {
  width: fit-content;
  h5 {
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
  }
}

#headingDescription {
  margin-top: 250px;
  h4 {
    text-transform: uppercase;
    text-align: right;
    padding-right: 40px;
    line-height: 25px;
  }
}

#heroFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 3%;
  width: 100%;
  padding: 0 2vw;
}

#heroFooter a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

#heroFooter #footerFirstItem {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5em;
}

#heroFooter #iconSet {
  display: flex;
  gap: 5px;
}

#heroFooter .circle {
  width: 25px;
  height: 25px;
  color: black;
  background-color: #aaaaaa;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
